---
http_interactions:
  - request:
      method: post
      uri: https://logs.us-east-1.amazonaws.com/
      body:
        encoding: UTF-8
        string: '{"logGroupName":"api-keys-usage"}'
      headers:
        Content-Type:
          - application/x-amz-json-1.1
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/x-amz-json-1.1
      body:
        encoding: UTF-8
        string: '{"__type":"ResourceAlreadyExistsException","message":"The specified
        log group already exists"}'
    recorded_at: Tue, 25 Jul 2023 15:08:36 GMT
  - request:
      method: post
      uri: https://logs.us-east-1.amazonaws.com/
      body:
        encoding: UTF-8
        string: '{"logGroupName":"api-keys-usage","logStreamName":"resource-watch-manager"}'
      headers:
        Content-Type:
          - application/x-amz-json-1.1
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Content-Type:
          - application/x-amz-json-1.1
      body:
        encoding: UTF-8
        string: '{"__type":"ResourceAlreadyExistsException","message":"The specified
        log stream already exists"}'
    recorded_at: Tue, 25 Jul 2023 15:08:37 GMT
  - request:
      method: post
      uri: https://logs.us-east-1.amazonaws.com/
      body:
        encoding: UTF-8
        string: '{"logGroupName":"api-keys-usage","logStreamName":"resource-watch-manager","logEvents":[{"message":"<%= message %>","timestamp":1690297717000}]}'
      headers:
        Content-Type:
          - application/x-amz-json-1.1
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/x-amz-json-1.1
      body:
        encoding: UTF-8
        string: '{"nextSequenceToken":"49641553906633038216157035862791613171261708535213328162"}'
    recorded_at: Tue, 25 Jul 2023 15:08:37 GMT
recorded_with: VCR 6.1.0
