.c-field {
  .label {
    display: block;
    position: relative;
    padding: 0 0 5px;
    color: black;
    font-weight: 700;
  }

  .hint {
    font-style: italic;
    padding: 0 0 5px;
  }

  .error {
    color: red;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=tel],
  input[type=date],
  input[type=time],
  input[type=url],
  input,
  textarea {
    display: inline-block;
    border: 1px solid black;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    padding: 5px;

    &:hover {
      border-color: gray;
    }

    &:focus {
      border-color: blue;
    }
  }

  &.-valid {
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number],
    input[type=tel],
    input[type=date],
    input[type=time],
    input[type=url],
    input,
    textarea,
    select {
      border-color: green;
    }
  }


  &.-error {
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number],
    input[type=tel],
    input[type=date],
    input[type=time],
    input[type=url],
    input,
    textarea,
    select {
      border-color: red;
    }
  }
}
